<template>
    <div class="plan-wrapper">
        <div class="plan-box">
        <div class="registrant-wrapper">
            <div class="registrant-left">
            <span>Registration details for</span>
            {{ fullName }}
            </div>
            <div class="registrant-right">
            <span>Amount</span>
              $ {{ calculateAmount.toFixed(2) }}
            <div class="registrans-total-items">Total Items: {{ calculateTotalItems }}</div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
      workshops: {
        type: Array,
      }
    },

    data() {
        return {
            participant: null,
        }
    },

    created() {
        this.participant = this.$store.getters['participant/getParticipants'];
    },

    methods: {
      calculatePrice() {
        if(this.workshops) {
          return this.workshops.reduce((acc, val) => acc + val.event_workshop_price, 0);
        } else {
          return 0;
        }
      }
    },

    computed: {
        calculateAmount() {          
          if(this.participant.workshops) {
            return this.participant.workshops.reduce((acc, val) => {
                return acc + val.event_workshop_price;
            }, 0) + this.participant.event_registration_type_price + this.calculatePrice();
          } else {
            return this.participant.event_registration_type_price + this.calculatePrice();
          }
        },

        fullName() {
            return `${this.participant.event_registration_firstname} ${this.participant.event_registration_lastname}`;
        },

        calculateTotalItems() {
          if (this.workshops) {
            return this.workshops.length + 1;
          } else {
            return 1;
          }
        }
    }
}
</script>

<style lang="scss">
.registrant-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 5px;
}

.registrant-left {
  flex-grow: 2;
  padding: 5px;
}

.registrant-right {
  flex-grow: 1;
  text-align: right;
  background-color: #f4f4f4;
  padding: 5px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.registrant-left span, .registrant-right span {
  display: block;
  font-weight: 600;
  color: $secondaryTextColor;
}

.registrans-total-items {
  display: block;
  font-size: 0.8rem;
  text-align: right;
  margin: 5px 0;
}
</style>