<template>
    <div class="plan-wrapper">
        <h3> <i class="icofont-id"></i> Registration Types & Fee </h3>
        <div style="position: relative">
            <i class="plan-locked icofont-lock animate__animated" v-if="isActive" @click="disableLocked" :class="{animate__shakeX: notificationDisabled}"></i>
            <div v-for="item in event.registration_types" :key="item.event_registration_type_id" @click="selectPlan(item)" class="plan-box animate__animated" :class="{'plan-box-disabled': isActive}">
                <label :for="item.event_registration_type_id" class="check-label">
                <span class="check-label-box"><span class="checked-label-box animate__animated animate__fadeIn" v-if="item.event_registration_type_id == selectedPlan"></span></span>
                <span class="check-label-text">{{ item.event_registration_type_title }}</span>
                <span class="check-label-fee">$ {{ item.event_registration_type_price.toFixed(2) }}</span>
                </label>
            </div>
        </div>
        <div class="selected-plan">
            Selected Registration Type: {{ selectedPlanName }}
        </div>
    </div>
</template>

<script>
export default {
    props: {
        event: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            selectedPlan: '',
            selectedPlanName: '',
            isActive: false,
            notificationDisabled: false,
        }
    },

    methods: {
        selectPlan(item) {
            if(this.isActive) {
                this.notificationDisabled = true;
                setTimeout(() => {
                    this.notificationDisabled = false;
                }, 500);
            } else {
                this.selectedPlan = item.event_registration_type_id;
                this.selectedPlanName = item.event_registration_type_title;
                this.isActive = true;
                this.$emit('selectedPlan', item);
            }
        },
        disableLocked() {
            this.isActive = false;
        },
    },
}
</script>

<style>

</style>