<template>
    <div class="plan-wrapper">
        <h3><i class="icofont-paperclip"></i> Registration Summary</h3>
        <div class="plan-box" v-for="(participant, index) in participants.registrations" :key="index">
            <div class="registrant-wrapper">
                <div class="registrant-left">
                    <span>Registration details for</span>
                    {{ fullName(participant) }}
                </div>
                <div class="registrant-right">
                    <span>Amount</span>
                    $ {{ amount(participant).toFixed(2) }}
                    <div class="registrans-total-items">Total Items: {{ sumOfItems(participant.workshops) }}</div>
                </div>
            </div>
            <div class="summary-wrapper">
                <div class="summary-left">
                    <span>Registration Information</span>
                    {{ fullName(participant) }} - {{ participant.event_registration_type_title }}
                </div>
                <div class="summary-right">
                    $ {{ participant.event_registration_type_price.toFixed(2) }}
                </div>
            </div>
            <div class="additional-services-wrapper" v-if="participant.workshops.length">
                <span>Additional Services</span>
                <div v-for="(item, index) in participant.workshops" :key="index">
                    <div class="summary-left">
                        <i class="icofont-ui-delete remove-item"></i> {{ item.event_workshop_title }}
                    </div>
                    <div class="summary-right">
                        $ {{ item.event_workshop_price.toFixed(2) }}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary btn-sm btn-new-participant" data-toggle="modal" data-target="#staticBackdrop"><i class="icofont-user-alt-3"></i> Add New Participant</button>
        <div class="total-amount">
            Total: $ {{ totalAmount }}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content add-new-participant-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add New Participant</h5>
            </div>
            <div class="modal-body">
                <h5>TERMS</h5>
                You are about to register another person now! <br/>
                <ul>
                    <li>In this step, you can register as Manu persons as you want until you complete your registration.</li>
                    <li>After you complete this step, the persons you registered can access and manage their accounts by using login details we will send you them by a notification email.</li>
                    <li>If this is a paid event, registration fees of each participant you registered will be added to your account.</li>
                    <li>You can cancel this process and return to your account page by clicking “CANCEL” button bellow.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"> CANCEL </button>
                <button type="button" class="btn btn-success btn-sm" @click="addNewParticipant"> ACCEPT TERMS </button>
            </div>
            </div>
        </div>
        </div>

    </div>
</template>

<script>
import $ from 'jquery';
export default {
    data() {
        return {
            participants: Object,
            totalAmount: null,
        }
    },

    async mounted() {
        this.participants = await localStorage.getItem('participants');
        if(this.participants) {
        this.participants = JSON.parse(this.participants);
        await this.$store.dispatch('participants/putParticipant', this.participants.registrations);

        this.totalAmount = this.participants.registrations.reduce((acc, val) => {
            let subAmount = val.workshops.reduce((acc, val) => {
                return acc + val.event_workshop_price;
            }, 0);
            return acc + val.event_registration_type_price + subAmount
        }, 0);
        }
    },

    methods: {
        amount(data) {
            return data.workshops.reduce((acc, val) => {
                return acc + val.event_workshop_price;
            }, 0) + data.event_registration_type_price;
        },

        fullName(data) {
            return `${data.event_registration_firstname} ${data.event_registration_lastname}`;
        },

        sumOfItems(data) {
            return data.length + 1;
        },

        SumOfTotalAmount() {
            if (this.participants.registrations) {
                return this.participants.registrations.reduce((acc, val) => {
                    acc + val.event_registration_type_price;
                }, 0);
            }
        },

        addNewParticipant() {
            this.$store.dispatch('participant/removeParticipant');
            this.$store.dispatch('level/putLevel', 1);
            $('#staticBackdrop').modal('hide');
        }
    },

    watch: {
        totalAmount: function(val) {
            this.totalAmount = val;
        }
    }
}
</script>

<style lang="scss" scoped>
    .summary-wrapper {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        margin-top: 10px;
        padding: 5px 0px;
        font-size: 14px;
        background-color: #f9f9f9;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    .summary-left {
        flex-grow: 2;
        padding: 5px;
    }

    .summary-right {
        flex-grow: 1;
        font-weight: 600;
        text-align: right;
        padding: 5px;
    }

    .summary-left {
        font-weight: 600;
    }

    .summary-left span, .summary-right span {
        display: block;
        font-weight: 600;
        color: $secondaryTextColor;
        padding: 5px 0;
    }

    .additional-services-wrapper {
        font-size: 14px;
        padding: 5px;
    }

    .additional-services-wrapper > span{
        display: block;
        border-bottom: 1px solid #DFDFDF;
        margin: 10px 0px;
        font-weight: 600;
    }

    .additional-services-wrapper > div {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .additional-services-wrapper .summary-left, .additional-services-wrapper .summary-right {
        flex-grow: 2;
        padding: 0px;
        padding-bottom: 10px;
    }

    .additional-services-wrapper .summary-left {
        font-weight: 600;
    }

    .additional-services-wrapper .summary-left span, .additional-services-wrapper .summary-right span {
        display: block;
        font-weight: 600;
        color: $secondaryTextColor;
        padding: 5px 0;
    }

    .additional-services-wrapper .remove-item {
        background-color: rgb(253, 159, 159);
        color: #FFFFFF;
        font-size: 11px;
        padding: 5px;
        cursor: pointer;
    }

    .total-amount {
        float: right;
        font-weight: 600;
        font-size: 22px;
        color: $secondaryTextColor;
    }

    .btn-new-participant {
        float: left;
    }

    .add-new-participant-modal {
        font-size: 15px;
        text-align: left;

        ul {
            padding-left: 1rem;
        }

        li {
            margin-bottom: 10px;
        }
    }
</style>