<template>
    <div class="plan-wrapper">
        <h3> <i class="icofont-automation"></i> Workshops </h3>
        <div class="plan-box">
        <div class="workshops-wrapper" v-for="workshop in workshops" :key="workshop.event_workshop_id">
            <div class="workshop-name">
                {{ workshop.event_workshop_title }} <br/>
                $ {{ workshop.event_workshop_price.toFixed(2) }}
            </div>
            <div class="workshop-basket">
            <button class="btn btn-sm btn-light btn-basket" @click="changeCount('decrease', workshop)">-</button>
            <span class="workshop-item">{{ sumOfItem(workshop.event_workshop_id) }}</span>
            <button class="btn btn-sm btn-light btn-basket" @click="changeCount('increase', workshop)">+</button>
            <div class="workshop-subamount">$ {{ sumOfAmountOfItem(workshop.event_workshop_id).toFixed(2) }}</div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            workshops: null,
            basket: [],
            maxItem: 10,
            price: null,
        }
    },

    methods: {
        changeCount(action, data){
                switch(action) {
                    case 'decrease':
                        if(this.calculateOfItem(data) > 0){
                            var selectedIndex = this.basket.map(e => e.event_workshop_id).indexOf(data.event_workshop_id);
                            if(selectedIndex > -1) this.basket.splice(selectedIndex, 1);
                        }
                    break;
                    case 'increase':
                        if(this.calculateOfItem(data) < this.maxItem){
                            this.basket.push(data);
                        }
                    break;
                    default:
                    break;
                }
                this.emitAmount();
        },

        calculateOfItem(data) {
            return this.basket.filter(e => e.event_workshop_id == data.event_workshop_id).length;
        },

        sumOfItem(id) {
            return this.basket.map(function(item) {
                if(item.event_workshop_id == id) return item;
            }).filter(e => e).length;
        },

        sumOfAmountOfItem(id){
            return this.basket.filter(e => e.event_workshop_id == id).reduce(function(acc, sum) {
                return acc + sum.event_workshop_price;
            }, 0);
        },

    emitAmount() {
        this.$emit('amount', this.basket);
    }
    },

    mounted() {
        let participantBasket = this.$store.getters['participant/getParticipants'].workshops;
        this.workshops = this.$store.getters['event/getWorkshops'];
        if(participantBasket) this.basket = this.$store.getters['participant/getParticipants'].workshops;
    }
}
</script>

<style>
.workshops-wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  font-size: 0.9rem;
  padding: 10px 0;
}

.workshop-name {
  flex-grow: 2
}

.workshop-basket {
  flex-grow: 1;
  text-align: right;
}

.btn-basket {
  width: 30px !important;
}

.workshop-item {
  margin: 0 10px;
  font-size: 0.8rem;
}

.workshop-subamount {
  margin: 5px 0;
  font-size: 0.8rem;
}
</style>