<template>
  <div id="app">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-start flex-column">
            <span>{{ event.event_long_name }}</span>
            <ul class="event-information-wrapper">
              <li> <i class="ico icofont-dashboard-web"></i> {{ event.venue.event_venue_title }} </li>
              <li> <i class="ico icofont-location-pin"></i> {{ event.venue.event_venue_city }}-{{ event.venue.event_venue_country }} </li>
              <li> <i class="ico icofont-calendar"></i> {{ event.event_start_date | moment(event.event_date_format) }} +{{ diffDate }} days</li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex flex-column justify-content-between">
            <!-- Level 1 -->
            <RegistrationTypes :event="event" @selectedPlan="selectedPlan" v-if="getLevel == 1"></RegistrationTypes>
            <div class="registration-type-error" v-if="$v.user.event_registration_type_id.$dirty && getLevel == 1">
              <div class="error" v-if="!$v.user.event_registration_type_id.required">You should select registration type</div>
            </div>
            <!-- Level 2 -->
            <Registrant v-if="getLevel == 2" :workshops="workshops"></Registrant>
            <Workshops :workshops="event.workshops" v-if="getLevel == 2" @amount="amount"></Workshops>
            <!-- Level 3 -->
            <RegistrationSummary v-if="getLevel == 3"></RegistrationSummary>
            <!-- Level 1 -->
            <div class="plan-wrapper" v-if="getLevel == 1">
              <div class="plan-box participant-information">
                  <div class="container">
                    <div class="row">
                      <div class="form-group col-md-6" :class="{ 'form-group--error': $v.user.event_registration_firstname.$error }">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" v-model.trim="$v.user.event_registration_firstname.$model" maxlength="40" name="firstname" />
                        <div v-if="$v.user.event_registration_firstname.$dirty">
                          <div class="error" v-if="!$v.user.event_registration_firstname.required">First Name is required</div>
                        </div>
                      </div>
                      <div class="form-group col-md-6" :class="{ 'form-group--error': $v.user.event_registration_lastname.$error }">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" v-model.trim="$v.user.event_registration_lastname.$model" maxlength="40" name="lastname" />
                        <div v-if="$v.user.event_registration_lastname.$dirty">
                          <div class="error" v-if="!$v.user.event_registration_lastname.required">Last Name is required</div>
                        </div>
                      </div>
                      <div class="form-group col-md-12" :class="{ 'form-group--error': $v.user.event_registration_email.$error }">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" v-model.trim="$v.user.event_registration_email.$model" name="email" />
                        <div v-if="$v.user.event_registration_email.$dirty">
                          <div class="error" v-if="!$v.user.event_registration_email.required">E-mail is required</div>
                          <div class="error" v-if="!$v.user.event_registration_email.email">Your e-mail must be a valid e-mail</div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="btn btn-light float-left" @click="decreaseLevel()" v-if="getLevel > 1"><i class="icofont-thin-left"></i> Previous</button>
        <button class="btn btn-success float-right" @click="submitForm"><i class="icofont-thin-right"></i> Next Step</button>
      </div>
    </div>
    <!-- Default Background Component -->
    <DefaultBackground></DefaultBackground>
  </div>
</template>

<script>
import DefaultBackground from './components/Background';
import RegistrationTypes from './components/RegistrationTypes';
import Registrant from './components/Registrant';
import RegistrationSummary from './components/RegistrationSummary';
import Workshops from './components/Workshops';
import { required, email } from 'vuelidate/lib/validators';
import { mapGetters } from 'vuex';
// axios.get(..api/data/dummy.json)
import eventJson from './requirements/event.json';

export default {
  name: 'App',
  components: { DefaultBackground, RegistrationTypes, Registrant, Workshops, RegistrationSummary },
  data() {
    return {
      user: {
        event_registration_type_id: null,
        event_registration_type_title: null,
        event_registration_type_price: null,
        event_registration_firstname: null,
        event_registration_lastname: null,
        event_registration_email: null,
      },
      event : eventJson,
      workshops: [],
      level: 1,
    }
  },
  
  validations: {
    user : {
      event_registration_firstname: {
        required
      },
      event_registration_lastname: {
        required
      },
      event_registration_email: {
        email,
        required
      },
      event_registration_type_id: {
        required
      }
    }
  },

  methods: {
    async submitForm() {
       this.level = this.$store.getters['level/getLevel'];
      switch(this.level) {
        case 1:
          this.$v.$touch();
          if (this.$v.$invalid) {
            // Error do something
          } else {
            this.$store.dispatch('participant/addParticipant', this.user);
            this.$store.dispatch('level/increaseLevel');
            this.workshops = [];
            this.user = {
              event_registration_type_id: null,
              event_registration_type_title: null,
              event_registration_type_price: null,
              event_registration_firstname: null,
              event_registration_lastname: null,
              event_registration_email: null,
            };
          }
          break;
        case 2:
          await this.$store.dispatch('participant/addWorkshops', this.workshops);
          await this.$store.dispatch('participants/addParticipant', JSON.parse(localStorage.getItem('participant')));
          await this.$store.dispatch('level/increaseLevel');
          break;

        case 3:
          this.sendDataToServer();
          break;
      }
    },

    sendDataToServer(){
      var totalParticipants = JSON.parse(localStorage.getItem('participants'));
      totalParticipants.registrations.forEach(element => {
        delete element.event_registration_type_title;
        element.workshops.filter(e => delete e.event_workshop_title);
      });
      console.log(totalParticipants);
    },
    
    selectedPlan(data) {
      this.user = {...this.user, ...data};
    },

    amount(data) {
      this.workshops = data;
    },

    decreaseLevel() {
      // Change Level and go back !
      console.log('Change Level and go back !');
    }
  },

  async created(){
    let participant = await localStorage.getItem('participant');
    let level = parseInt(localStorage.getItem('level'));
    await this.$store.dispatch('event/addEvent',eventJson);
    if(participant) await this.$store.commit('participant/ADD_PARTICIPANT', JSON.parse(participant));
    if(level) await this.$store.commit('level/PUT_LEVEL', level);
  },

  computed : {
    ...mapGetters({
      getLevel: 'level/getLevel',
    }),

    diffDate() {
      let startDate = this.$moment(this.event.event_start_date);
      let endDate = this.$moment(this.event.event_end_date);
      return endDate.diff(startDate, 'day');
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $defaultTextColor;
  margin-top: 40px;
}

.card {
  border: 1px solid $cardBorderColor !important;
}

.card-body {
  padding: 1.25rem 3rem !important;
}

.card-header {
  background-color: rgba(245, 183, 35, 0.21) !important;
  border-bottom: 1px solid $cardBorderColor !important;
}

.card-header span {
  font-size: 22px;
  font-weight: 600;
  color: $secondaryTextColor;
  text-align: left;
}

.event-information-wrapper {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0rem;
  display: flex;
  font-size: 14px;
  text-align: left;
}

.event-information-wrapper li {
  margin-right: 15px;
}

.ico {
  font-size: 13px;
}

h3 {
  text-align: left !important;
  margin: 10px 0 !important;
  font-size: 1.50rem !important;
}

// hide the checkbox
.hidden-box {
  position: absolute;
  top: -9999px;
  left: -9999px;
  appearance: none;
  opacity: 0;
}

.check-label {
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.check-label-box {
  display: flex;
  align-self: center;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0 20px;
  border: 1px solid #3498db;
  border-radius: 2px;
  cursor: pointer;
}

.check-label-text {
  display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 20px;
  border-left: 1px solid #ecf0f1;
}

.checked-label-box {
  display: block;
  position: absolute;
  margin: auto;
  transition: translate(50% 50%);
  border: solid #FFFFFF;
  width: 100%;
  height: 100%;
  background-color: #3498db;
}

.check-label-fee {
  flex-grow: 2;
  text-align: right;
  padding: 10px;
}

.plan-wrapper {
  width: 100%;
  position: relative;
  margin: auto;
}

.plan-box {
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.plan-box-disabled {
  opacity: 0.4;
}

.plan-locked {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 25px;
  z-index: 1000;
  transform: rotate(25deg);
  cursor: pointer;
}

// User Form
.participant-information input {
  color: #777777;
  font-size: 0.9rem;
}

.participant-information label {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.button-wrapper {
  margin: 1.25rem 0;
  padding-bottom: 4rem;
}

.selected-plan {
  border-bottom: 1px solid #dfdfdf;
  margin: 1.25rem 0;
  text-align: left;
  font-size: 0.9rem;
}

.error {
  color: $errorTextColor;
  font-size: 0.7rem;
}

.registration-type-error {
  text-align: left;
  margin: -20px 0 10px 0;
}

// Responsive statements
@media all and (max-width: 768px) {
  .card-body {
  padding: 1.25rem 1rem !important;
}

}
</style>
