// Bootstrap Variables
$blueColor: #7591bb;
$redColor: #e2332d;

// Text Colors
$defaultTextColor: #777777;
$secondaryTextColor: #f59923;
$errorTextColor: #ad0909;


// Border Colors
$cardBorderColor: rgb(253, 218, 136);